# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.coverage
**/.coverage
.coveragerc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Istio binary
aerolink-platform/istio-1.22.0/

# OS
.DS_Store
Thumbs.db
